body{
    margin: 0;
    padding: 0;
}
.flex-container{
    display: flex;
    background-color: dodgerblue;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    height: 100px;
}