body {
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    background-color: #f1f1f1;
    justify-content: space-between;
    flex-direction: column;
}
.flex-container > div{
    font-size: 30px;
    color: white;
    text-align: center;
    flex-grow: 1;
    line-height: 75px;
}
.flex-container > div:nth-of-type(1) {
    background-color: dodgerblue;
}
.flex-container > div:nth-of-type(2) {
    background-color: brown;
}
@media (min-width: 800px) { /*Minimal lebar layar 800px atau lebih maka akan dieksekusi*/
    .flex-container {
        flex-direction: row;
    }
    .flex-container > div:nth-of-type(2) {
        background-color: dodgerblue;
    }
    .flex-container > div:nth-of-type(1) {
        background-color: brown;
    }
}